<h2>New Game</h2>
<form [formGroup]="form" (ngSubmit)="newGame()">
    <mat-form-field>
        <mat-label>Give your game a name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Number of teams</mat-label>
        <mat-select formControlName="numberOfTeams">
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Names per player</mat-label>
        <input matInput type="number" step="1" placeholder="Name count" formControlName="nameCount">
    </mat-form-field>
    <br />
    <mat-form-field>
        <mat-label>Round length (seconds)</mat-label>
        <input matInput type="number" step="10" placeholder="Round length" formControlName="roundLength">
    </mat-form-field>
    <br />
    <div mat-dialog-actions align="center">
        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
    </div>
</form>