<div class="content">
    <h2>Game {{game?.name}}: {{game?.state}}</h2>
    <h3>{{game?.numberOfTeams}} teams</h3>
    <h3><b>Owner:</b> {{game?.ownerName}}</h3>
    <div *ngIf="canLeave()">
        <button mat-raised-button color="warn" (click)="leaveGame()">Leave Game</button>
        <br />
        <br />
    </div>
    <div *ngIf="canCancel()">
        <button mat-raised-button color="warn" (click)="cancelGame()">Cancel Game</button>
        <br />
        <br />
    </div>
    <div *ngIf="canStart()">
        <button mat-raised-button color="primary" (click)="startGame()">Start Game</button>
        <br />
        <br />
    </div>
    <h3 *ngIf="missingPlayers() > 0">
        {{missingPlayers()}} more players needed</h3>
    <h3 *ngIf="readyToStart() && !canStart()">Waiting for {{game?.ownerName}} to start the game...</h3>
    <table *ngIf="playersDataSource" mat-table [dataSource]="playersDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Players</th>
            <td mat-cell *matCellDef="let user"> {{user.name}} </td>
        </ng-container>
        <ng-container matColumnDef="namesSubmitted">
            <th mat-header-cell *matHeaderCellDef>Names Submitted</th>
            <td mat-cell *matCellDef="let user"> {{user.namesSubmitted}} </td>
        </ng-container>
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let user"> {{user.score}} </td>
        </ng-container>
        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef>Players</th>
            <td mat-cell *matCellDef="let user">
                <span *ngIf="user.teamId">{{user.teamName}}</span>
                <span *ngIf="!user.teamId">TBC</span>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="playersDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: playersDisplayedColumns;"></tr>
    </table>
    <br />
    <h3>{{names?.length}} of {{totalNamesNeeded()}} names submitted overall</h3>
    <div *ngIf="currentUser?.namesSubmitted < game?.namesPerPerson  && game?.state === 'INITIALISING'">
        <h3>You need to submit {{game?.namesPerPerson - currentUser?.namesSubmitted}} more names</h3>
        <form [formGroup]="addName" (ngSubmit)="saveName()">
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <br />
            <button mat-raised-button color="primary" type="submit">Add Name</button>
        </form>
    </div>
    <div *ngIf="game?.state === 'IN PROGRESS' || game?.state === 'COMPLETED'">
        <table *ngIf="teamsDataSource" mat-table [dataSource]="teamsDataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Team</th>
                <td mat-cell *matCellDef="let team"> {{team.name}} </td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef>Score</th>
                <td mat-cell *matCellDef="let team"> {{team.score}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="teamsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: teamsDisplayedColumns;"></tr>
        </table>
    </div>
    <div *ngIf="game?.state === 'COMPLETED'">
        <h3>Game over!</h3>
        <h3>{{winningTeam().name}} wins!</h3>
    </div>
    <div *ngIf="game?.state === 'IN PROGRESS'">
        <h3>Round {{game?.currentRound}}</h3>
        <div *ngIf="game?.currentUserTurnId === currentUserId">
            <h2>Your turn!</h2>
            <button mat-raised-button color="primary" (click)="startRound()"
                *ngIf="!roundInProgress() && !timeRemaining">
                Start Round</button>
            <mat-card *ngIf="roundInProgress()">
                <mat-card-header *ngIf="game?.currentRound === 1">
                    <mat-card-title>Describe this name:</mat-card-title>
                </mat-card-header>
                <mat-card-header *ngIf="game?.currentRound === 2">
                    <mat-card-title>Describe this name in <b>one</b> word:</mat-card-title>
                </mat-card-header>
                <mat-card-header *ngIf="game?.currentRound === 3">
                    <mat-card-title>Act out this name:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{currentName?.value}}</p>
                </mat-card-content>
            </mat-card>
            <button mat-raised-button color="primary" (click)="nextName()" *ngIf="roundInProgress()">
                Next Name</button>
        </div>
        <h2 *ngIf="game?.currentUserTurnId !== currentUserId">{{game?.currentUserTurnName}}'s turn!</h2>
        <h3 *ngIf="roundInProgress()">{{timeRemaining}} seconds left!</h3>
        <div *ngIf="timeRemaining && !carryOverTime && !roundInProgress()">
            <h3>Time's up!</h3>
            <button mat-raised-button color="primary" (click)="nextPlayer()">Next Player</button>
        </div>
        <div *ngIf="carryOverTime && timeRemaining">
            <h3>Round complete! {{carryOverTime}} seconds left.</h3>
            <button mat-raised-button color="primary" (click)="nextRound()">Next Round</button>
        </div>
    </div>
</div>