<div class="content">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm">
                <app-owner-controls *ngIf="game?.ownerId === currentUserId" [gameId]="gameId" [canStart]="canStart()"
                    [gameState]="game?.state" [players]="players" [numberOfTeams]="game?.numberOfTeams">
                </app-owner-controls>
                <app-player-controls *ngIf="game?.ownerId !== currentUserId" [gameState]="game?.state">
                </app-player-controls>
            </div>
            <div class="col-sm">
                <app-header *ngIf="game?.state === 'IN PROGRESS'" [currentRound]="game?.currentRound"
                    [teamName]="currentPlayer?.teamName">
                </app-header>
            </div>
            <div class="col-sm"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm">
                <app-game-info [game]="game"></app-game-info>
            </div>
            <div class="col-sm my-auto">
                <div *ngIf="game?.state === 'INITIALISING'">
                    <div *ngIf="currentPlayer?.namesSubmitted < game?.namesPerPerson">
                        <app-add-name [gameId]="gameId" [currentUserId]="currentUserId"
                            [namesSubmitted]="currentPlayer?.namesSubmitted"
                            [missingNames]="game?.namesPerPerson - currentPlayer?.namesSubmitted"></app-add-name>
                    </div>
                    <div *ngIf="currentPlayer?.namesSubmitted >= game?.namesPerPerson">
                        <app-initialising-game [missingPlayers]="missingPlayers()" [missingNames]="missingNames()"
                            [ownerName]="game?.ownerName" [isOwner]="game?.ownerId === currentUserId">
                        </app-initialising-game>
                    </div>
                </div>
                <div *ngIf="game?.state === 'IN PROGRESS'">
                    <app-in-progress [game]="game" [me]="currentPlayer" [gameId]="gameId"
                        [currentUserId]="currentUserId" [names]="names" [players]="players">
                    </app-in-progress>
                </div>
                <div *ngIf="game?.state === 'COMPLETED'">
                    <app-complete [players]="players"></app-complete>
                </div>
            </div>
            <div class="col-sm">
                <app-players *ngIf="game?.state === 'INITIALISING'" [playersDataSource]="playersDataSource"
                    [namesPerPlayer]="game?.namesPerPerson" [missingPlayers]="missingPlayers()">
                </app-players>
                <app-teams *ngIf="game && game.state !== 'INITIALISING'" [players]="players"></app-teams>
            </div>
        </div>
    </div>
</div>